!!!
%head
  %meta{:charset => "utf-8"}
  %title Look@ItGo
  =stylesheet_link_tag    "application" 
  =javascript_include_tag "application" 
  =csrf_meta_tags
  %script(type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places")

%body
  .navbar
    .navbar-inner
      %a.brand{:href => "/"} Look@ItGo
      - if current_user
        %ul.nav
          %li
            %a.locator{:href => "#"} Записи рядом
          %li
            %a{:href => "/locations/list"} История мест
          %li
            %a{:href => "/locations/likes"} Лента    
        %form.navbar-search.pull-left(action="/locations/search")
          %input.search-query(type="text" placeholder="Место")
                 

  .container

    - if current_user
      Welcome #{current_user.name}!
      = link_to "Sign Out", signout_path
    - else
      = link_to "twitter", "/auth/twitter"
      = link_to "fb", "/auth/facebook"
      = link_to "instagram", "/auth/instagram"
      = link_to "google_oauth2", "/auth/google_oauth2"

    = yield
