!!!
%head
  %meta{:charset => "utf-8"}
  %title Friendzone
  =stylesheet_link_tag    "application" 
  =javascript_include_tag "application" 
  =csrf_meta_tags

%body
  .navbar
    .navbar-inner
      %a.brand{:href => "#"} Friendzone
      %ul.nav
        %li.active
          %a{:href => "#"} Home
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
  .container

    - if current_user
      Welcome #{current_user.name}!
      = link_to "Sign Out", signout_path
    - else
      = link_to "twitter", "/auth/twitter"
      = link_to "fb", "/auth/facebook"
      = link_to "instagram", "/auth/instagram"
      = link_to "google_oauth2", "/auth/google_oauth2"

    = yield
